In [1]:
import pandas as pd

In [6]:
mylist={"Name":["anu","manu","anju","teena"],"Age":[18,21,19,23]}

In [7]:
df=pd.DataFrame(mylist)
df.describe()

             Age
count   4.000000
mean   20.250000
std     2.217356
min    18.000000
25%    18.750000
50%    20.000000
75%    21.500000
max    23.000000

In [4]:
print(df)

       0
0    anu
1   manu
2   anju
3  teena

In [9]:
df.head(n=2)

   Name  Age
0   anu   18
1  manu   21

In [10]:
df.tail(n=2)

    Name  Age
2   anju   19
3  teena   23