In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("datasheet.csv")

In [3]:
df=pd.DataFrame(data)

In [4]:
print(df)

    name  rollno  admno college
0    ABC       1   1234   MBCET
1   ROSE      54   3219     CET
2  AMALA       7   1232     CET
3   TINA      59   9876   MBCET
4  MEGHA      33   6543     RIT
5   NEIL      45   7654     SCT

In [ ]:
df.head(
)